{% include 'header.html' %}

{% include 'sidebar.html' %}

<body>
    <h1>新規ユーザー登録</h1>
    <form action="/register-userconf" method="post">
        <p>GitHubアカウント名：<input type="text" name="gitAccount"></p>
        <p>ユーザーロゴ：<input type="file" name="image"></p>
        <p>名前：<input type="text" name="name"></p>
        <p>よみがな：<input type="text" name="kana"></p>
        <p>区分を選択：
            {% for class in userClass %}
            <option value="{{class}}">{{class}}</option>
            {% endfor %}
        </p>
        <p><input type="submit" value="登録完了"></p>
    </form>

    </form>