{% include 'header.html' %}

<link rel="stylesheet" href="../static/css/register.css">


<body>
    <form action="/register" method="post" class="register-form">
        <h1>新規ユーザー登録</h1>
        <!-- 同じメールアドレスが使用されたらエラーの表示と名前、読みがなを入力状態に戻す -->
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        <p>メールアドレス：<input type="text" name="userId" value={{email}} required></p>
        <p>パスワード：<input type="password" name="password" required></p>
        <p>名前：<input type="text" name="name" value={{name}} required></p>
        <p>よみがな：<input type="text" name="kana" value={{kana}} required></p>
        <p>区分を選択：
            <select name="class" id="class">
                {% for class in userClass %}
                <option value="{{class[0]}}">{{class[0]}}</option>
                {% endfor %}
            </select>
        </p>
        <p>GitHubアカウント名：<input type="text" name="gitAccount"></p>
        <p>ユーザーロゴ：<input type="file" name="image"></p>
        <p><input type="submit" value="新規登録"></p>
        {% else %}
        <p>メールアドレス：<input type="text" name="userId" required></p>
        <p>パスワード：<input type="password" name="password" required></p>
        <p>名前：<input type="text" name="name" required></p>
        <p>よみがな：<input type="text" name="kana" required></p>
        <p>区分を選択：
            <select name="class" id="class">
                {% for class in userClass %}
                <option value="{{class[0]}}">{{class[0]}}</option>
                {% endfor %}
            </select>
        </p>
        <p>GitHubアカウント名：<input type="text" name="gitAccount"></p>
        <p>ユーザーロゴ：<input type="file" name="image"></p>
        <p><input type="submit" value="新規登録"></p>
        {% endif %}
    </form>
</body>
</div>

</html>