<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/register.css">

<body>
    {% include 'header.html' %}
    <div class="contents">
        {% include 'sidebar.html' %}
        <form action="/register" method="post" class="register-form">
            <h1>新規ユーザー登録</h1>
            <!-- 同じメールアドレスが使用されたらエラーの表示と名前、読みがなを入力状態に戻す -->
            {% if error_message %}
            <p class="error">{{ error_message }}</p>
            <div class="input-wrapper">
                <input type="text" id="userId" name="userId" value="{{ email }}" required placeholder=" ">
                <label for="userId">メールアドレス：</label>
            </div>
            <div class="input-wrapper">
                <label for="password">パスワード：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-wrapper">
                <label for="name">名前：</label>
                <input type="text" id="name" name="name" value={{name}} required>
            </div>
            <div class="input-wrapper">
                <label for="kana">よみがな：</label>
                <input type="text" id="kana" name="kana" value={{kana}} required>
            </div>
            <div class="input-wrapper">
                <label for="class">区分を選択：</label>
                <select id="class" name="class">
                    {% for class in userClass %}
                    <option value="{{class[0]}}">{{class[0]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-wrapper">
                <label for="gitAccount">GitHubアカウント名：</label>
                <input type="text" id="gitAccount" name="gitAccount">
            </div>
            <div class="input-wrapper">
                <label for="image">ユーザーロゴ：</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="input-wrapper">
                <input type="submit" value="新規登録">
            </div>
            {% else %}
            <div class="input-wrapper">
                <input type="text" id="userId" name="userId" value="{{ email }}" required placeholder=" ">
                <label for="userId">メールアドレス：</label>
            </div>
            <div class="input-wrapper">
                <label for="password">パスワード：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-wrapper">
                <label for="name">名前：</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-wrapper">
                <label for="kana">よみがな：</label>
                <input type="text" id="kana" name="kana" required>
            </div>
            <div class="input-wrapper">
                <label for="class">区分を選択：</label>
                <select id="class" name="class">
                    {% for class in userClass %}
                    <option value="{{class[0]}}">{{class[0]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-wrapper">
                <label for="gitAccount">GitHubアカウント名：</label>
                <input type="text" id="gitAccount" name="gitAccount">
            </div>
            <div class="input-wrapper">
                <label for="image">ユーザーロゴ：</label>
                <input type="file" id="image" name="image">
            </div>
            <div class="input-wrapper">
                <input type="submit" value="新規登録">
            </div>
            {% endif %}
        </form>
    </div>
</body>

</html>