<!-- タスクの追加を行う画面　タスクの遷移などは別画面-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>タスク追加フォーム</title>
    <link rel="stylesheet" href="../static/css/add_task.css">
</head>
<div class="header">
    {% include 'header.html' %}
</div>

<div class="sidebar">
    {% include 'sidebar.html' %}
</div>

<body>
    <h1>タスク追加フォーム</h1>

    <form action="/action/add_task" method="post">
        <h3>ストーリー名：{{ storyName }}</h3>
        <h4>プロジェクト名：{{ projectName }}</h4>
        <label for="task">タスク名:</label>
        <input type="text" name="taskName" required><br>
        <label for="manager">担当者名:</label>
        <input type="text" name="taskManager" required><br>
        <label>スプリント <select name="sprint">
                {% for i in range(1,11) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select></label>
        <input type="hidden" name="storyName" value="{{ storyName }}">
        <div class="submit"><input type="submit" value="登録"></div>
    </form>
</body>

</html>