<!-- タスクの追加を行う画面　タスクの遷移などは別画面-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>希望休登録フォーム</title>
</head>

<body>
    <h1>希望休登録フォーム</h1>
    <form action="/action/submit" method="post">
        ユーザーID: <input type="text" name="id" required><br>
        希望する日: <input type="date" name="date" required><br>
        休みの種類:
        <select name="holiday_type" required>
            <option value="年次有給休暇">年次有給休暇</option>
            <option value="希望休">希望休</option>
            <option value="忌引き">忌引き</option>
            <option value="リフレッシュ">リフレッシュ</option>
        </select><br>
        <input type="submit" value="登録">
    </form>
</body>

</html>