<!-- タスクの追加を行う画面　タスクの遷移などは別画面-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>タスク追加フォーム</title>
    <link rel="stylesheet" href="../static/css/add_task.css">
</head>

<body>
    <h1>タスク追加フォーム</h1>
    <h3>ストーリー名：{{ storyName }}</h3>
    <h4>プロジェクト名：{{ projectName }}</h4>
    <form action="/action/add_task" method="post">
        タスク名: <input type="text" name="taskName" required><br>
        担当者名: <input type="text" name="taskManager" required><br>
        スプリント数 <select name="sprint">
            {% for i in range(1,11) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select><br>
        <input type="hidden" name="storyName" value="{{ storyName }}">
        <input type="submit" value="登録">
    </form>
</body>

</html>