<!--ストーリー一覧を表示する-->
<!DOCTYPE html>
<html>

<head>
    <title>ストーリー一覧</title>
</head>

<body>
    <h1>ストーリー選択画面</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>ストーリー名</th>
            <th>プロジェクト名</th>
            <th>タスク追加</th>
        </tr>
        {% for row in storyData %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <form method="POST" action="/add_task">
                <td>
                    <input type="hidden" name="storyName" value="{{ row[0] }}">
                    <input type="submit" value="追加">
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>

</body>

</html>