<!--ストーリー一覧を表示する-->
<!DOCTYPE html>
<html>

<head>
    <title>ストーリー一覧</title>
</head>

<body>
    <table>
        <tr>
            <th>ストーリー名</th>
            <th>プロジェクト名</th>
            <th>タスク追加</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            {% if row[3] == 0 %}
            <td>受理</td>
            {% elif row[3] == 1 %}
            <td>却下</td>
            {% else %}
            <td>申請中</td>
            {% endif %}
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>