<!--タスク一覧を表示する-->
<!DOCTYPE html>
<html>

<head>
    <title>タスク一覧</title>
</head>

<body>
    <h1>タスク一覧</h1>
    <table border="1" cellpadding="10">
        <tr>
            <th>タスク名</th>
            <th>状態</th>
            <th>タスク責任者</th>
            <th>ストーリー名</th>
            <th>スプリント</th>
        </tr>
        {% for row in taskData %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>第{{ row[4] }}スプリント</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>