<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="../static/css/style.css">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{{session['project']}}</title>
    <meta name="description" content="${description}" />
    <!-- CSSファイルとFrappe Ganttの取得 -->
    <link rel="stylesheet" href="../static/css/bar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>

</head>

<body>
    {% include 'header.html' %}
    <div class="contents">
        {% include 'sidebar.html' %}
        <h1>進捗状況表</h1>
        <p>{{session['project']}}</p><!-- プロジェクト名の表示 -->
        <div class='gantt-wrap'>
            <svg id="gantt"></svg><!-- SVGでJSで実行できるようにする -->
        </div>

        <script>
            // storyGraphにPythonから送られた値を格納
            var storyGraph = JSON.parse('{{ story_graph | tojson | safe }}');
        </script>

        <!-- JSの処理を実行 -->
        <script src="../static/javascript/graph.js"></script>
    </div>
</body>

</html>