{% include 'header.html' %}

{% include 'sidebar.html' %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>{{session['project']}}</title>
    <meta name="description" content="${description}" />
    
    <link rel="stylesheet" href="../static/css/bar.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/frappe-gantt/0.5.0/frappe-gantt.min.js"></script>

</head>

<body>
    <h1>進捗状況表</h1>
    <p>{{session['project']}}</p>
    <div class='gantt-wrap'>
        <svg id="gantt"></svg>
    </div>
    
    <script>
        // storyGraph を定義
        var storyGraph = JSON.parse('{{ story_graph | tojson | safe }}');
    </script>

    <!-- Include your external JavaScript file -->
    <script src="../static/javascript/graph.js"></script>

</body>
</html>