<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/css/style.css">

<head>
    <meta charset="UTF-8">

    {% if title is not none %}
    <title>{{ title }}</title>
    {% else %}
    <title>Attache</title>
    {% endif %}
</head>

<body>
    <div class="header-main">
        <div class="header-title">
            Attache
        </div>
    </div>
    <div class="header-tab">
        <p>HOME</p>
        <p>Project</p>
        <p>Story</p>
        <p>Task</p>
        <p>Doing</p>
        <p>Done</p>
        <a href="/logout">ログアウト</a>
    </div>
</body>

</html>