<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>新規ユーザー登録</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<div class="header">
    {% include 'header.html' %}
</div>

<div class="sidebar">
    {% include 'sidebar.html' %}
</div>

<div class="content">

    <body>
        <h1>新規ユーザー登録</h1>
        <form action="/register" method="post">
            <!-- 同じメールアドレスが使用されたらエラーの表示と名前、読みがなを入力状態に戻す -->
            {% if error_message %}
            <p class="error">{{ error_message }}</p>
            <p>メールアドレス：<input type="text" name="userId" value={{email}} required></p>
            <p>パスワード：<input type="password" name="password" required></p>
            <p>名前：<input type="text" name="name" value={{name}} required></p>
            <p>よみがな：<input type="text" name="kana" value={{kana}} required></p>
            <p><input type="submit" value="新規登録"></p>
            {% else %}
            <p>メールアドレス：<input type="text" name="userId" required></p>
            <p>パスワード：<input type="password" name="password" required></p>
            <p>名前：<input type="text" name="name" required></p>
            <p>よみがな：<input type="text" name="kana" required></p>
            <p><input type="submit" value="新規登録"></p>
            {% endif %}
        </form>
    </body>
</div>

</html>