<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロジェクト選択</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script>
        function redirectToPage(condition) {
            if (condition == "開発支援アプリ") {
                window.location.href = "/";
            } else {
                window.location.href = condition;
            }
        }
    </script>
</head>

{% include 'header.html' %}


<body>
    <h1>プロジェクト選択</h1>
    <form action="/action/select_project" method="post">
        {% for row in data %}
        <div class="project-info" onclick="redirectToPage('{{ row[1] }}')">
            <div class="submit"><input type="submit" name="project" value="{{ row[1] }}"></div>
            <p>更新日：{{ row[4] }}<br>
                作成日：{{ row[3] }}<br>
                所有者：{{ row[2] }}</p>
        </div>
        {% endfor %}
    </form>
</body>

</html>