<!-- phpを利用せずにFlaskを利用する。 -->
<!-- jinja2を利用可能 -->

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロジェクト選択</title>
    <link rel="stylesheet" href="../static/css/select.css">
</head>

<body>
    <h1>プロジェクト選択</h1>
    <form action="/action/select_project" method="post">
        {% for row in data %}
        <input type="submit" name="project" value="{{ row[1] }}">
        <p></p>
        {% endfor %}
    </form>
    <input type="submit" value="選択">
</body>

</html>