<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>プロジェクト選択</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- 選択したプロジェクト名をGetメソッドで送信 -->
    <script>
        // プロジェクト名をセッションに保存する関数
        function redirectToPage(project) {
            window.location.href = "/set_session?project=" + encodeURIComponent(project);
        }
    </script>
</head>

<body>
    <h1>プロジェクト選択</h1>
    <form action="/action/select_project" method="post">
        {% for row in data %}
        <div class="project-info">
            <!-- ここはJavaScriptで記述。"project-info"クラスをクリックした処理 -->
            <div class="project-click-area" onclick="redirectToPage('{{ row[1] }}')">
                <div class="project-title">{{ row[1] }}</div>
                <p>更新日：{{ row[4] }}<br>
                    作成日：{{ row[3] }}<br>
                    所有者：{{ row[2] }}</p>
            </div>
            <!-- 各リソースへのURLをロゴで表示する -->
            <div class="project-resource">
                <!-- GitHubのリポジトリが登録されている場合のみ処理 -->
                {% if row[5] is not none %}
                <div class="project-repository-logo">
                    <!-- GitHubリポジトリのURLをロゴで表示する -->
                    <a href="{{ row[5] }}" target="_blank">
                        <!-- ロゴデータの読み込み -->
                        <img src="../static/images/github-mark.svg" alt="GitHub Mark" width="25" height="25">
                    </a>
                </div>
                {% endif %}
                <!-- GoogleDriveが登録されている場合のみ処理 -->
                {% if row[6] is not none %}
                <div class="project-resource-logo">
                    <!-- GoogleDriveのURLをロゴで表示する -->
                    <a href="{{ row[6] }}" target="_blank">
                        <!-- ロゴデータの読み込み -->
                        <img src="../static/images/Google_Drive_icon_(2020).svg.png" alt="GoogleDrive Mark" width="25"
                            height="25">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </form>
</body>

</html>