<div class="sidebar">
    <!-- プロジェクトを選択中の場合 -->
    {% if project %}
    <div class="side-project-info">
        <div class="project-title">{{project}}</div>
    </div>
    <details>
        <summary>参加中のユーザー</summary>
        <ul>
            {% for user in session['project_users'] %}
            <li>{{ user[0] }}</li>
            {% endfor %}
        </ul>
    </details>
    {% endif %}
</div>
<div class="sidebar-contents">
    {% if story_data %}
    <select name="product-backlog">
        <option value="">プロダクトバックログ</option>
        {% for item in story_data %}
        <option value="{{item[0]}}">{{item[0]}}</option>
        {% endfor %}
    </select>
    {% elif project %}
    <p>ストーリーはありません</p>
    {% endif %}
</div>