<div class="sidebar">
    <!-- プロジェクトを選択中の場合 -->
    {% if session['project'] %}
    <div class="side-project-info">
        <div class="project-title">{{session['project']}}</div>
    </div>
    <details>
        <summary>参加中のユーザー</summary>
        <ul>
            {% for user in session['project_users'] %}
            <li>{{ user[0] }}</li>
            {% endfor %}
        </ul>
    </details>
    <a href="/project/addusers">プロジェクトに招待</a>
    <!-- プロジェクトを選択していない場合はユーザー情報を表示する -->
    {% else %}
    {% if session['user_id'] %}
    <div class="side-userinfo-head">
        <img src="../static/images/{{session['user_icon']}}" alt="arrow" width="150" height="150">
        <p class="username">{{session['user_name']}}</p>
    </div>
    <div class="side-userinfo-body">
        <p class="caption">得意分野</p>
        <p class="caption-content">
            プレゼンテーション<br>
            スライド作成<br>
            C<br>
            C#<br>
            Python<br>
            Docker<br>
            HTML<br>
        </p>
        <p class="caption">アチーブメント</p>
        <p class="caption-content">
            {% for row in session['achievement'] %}
            {% if row > 0 %}
            {{row}}<br>
            {% endif %}
            {% endfor %}
        </p>
    </div>
    {% endif %}
    {% endif %}


</div>
<div class="content">