<div class="sidebar">
    <!-- プロジェクトを選択中の場合 -->
    {% if project %}
    <div class="side-project-info">
        <div class="project-title">{{project}}</div>
    </div>
    <details>
        <summary>参加中のユーザー</summary>
        <ul>
            {% for user in session['project_users'] %}
            <li>{{ user[0] }}</li>
            {% endfor %}
        </ul>
    </details>
    <a href="/project/addusers">プロジェクトに招待</a>
    <!-- プロジェクトを選択していない場合はユーザー情報を表示する -->
    {% else %}
    {% if session['user_id'] %}
    <div class="side-user-info">
        <img src="../static/images/{{session['user_icon']}}" alt="arrow" width="150" height="150">
        <p class="username">{{session['user_name']}}</p>
    </div>
    {% endif %}
    {% endif %}


</div>
<div class="content">