{% include 'header.html' %}
{% include 'sidebar.html' %}

<body>
    <div class="row">
        <div class="Story">
            <p>Story</p>
            {% for row in story %}
            <p>{{row[0]}}<br></p>
            {% endfor %}
        </div>

        <div class="Task">
            <p>Task</p>
            {% for row in task %}
            {% if row[1] == 2 %}
            <p>{{row[0]}}<br></p>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Doing">
            <p>Doing</p>
            {% for row in task %}
            {% if row[1] == 1 %}
            <p>{{row[0]}}<br></p>
            {% endif %}
            {% endfor %}
        </div>

        <div class="Done">
            <p>Done</p>
            {% for row in task %}
            {% if row[1] == 0 %}
            <p>{{row[0]}}<br></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</div>