{% include 'header.html' %}

{% include 'sidebar.html' %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
</head>
<body>
    <h1>Mypage</h1>
    <form action="/register_skill" method="post">
        <table>
            <tr>
                <th>userId</th>
                <th>skill</th>
                <th>skill</th>
                <th>skill</th>
                <th>skill</th>
                <th>skill</th>
                <th>skill</th>
            </tr>
            <!-- ループを実行し、userNumberが指定したuserNumberと一致する時だけuserNumberを出力します。-->
            <!-- {% for skill in skills if skill[0] == userNumber %} -->
            <tr>
                <td>{{ name[0] }}</td>
            <!-- 得意不得意を6項目プルダウンメニューを作成 -->
            {% for skill_index in range(1, 7) %}
            <td>
                <select name="skill{{ skill_index }}">
                    <option value="1">得意</option>
                    <option value="2" selected>普通</option>
                    <option value="3">不得意</option>
                </select>
                </td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <td><input type="submit" value="送信"></td>
    </form>
</body>
</html>