
<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="../static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="contents">
        {% include 'sidebar.html' %}
    <h1>MySkill</h1>
    <form action="/register_skill" method="post">
        <table>
            <tr>
                <th>名前</th>
                <th>進行まとめ</th>
                <th>発表</th>
                <th>アイデア発想</th>
                <th>プロトタイプ作成</th>
                <th>資料作成</th>
                <th>スクラム好き度</th>
            </tr>
            <tr>
                <td>{{ name }}</td>
                <!-- 得意不得意を6項目プルダウンメニューを作成 -->
                {% for skill_index in range(1, 7) %}
                <td>
                    <select name="skill{{ skill_index }}">
                        <option value="1">得意</option>
                        <option value="2" selected>普通</option>
                        <option value="3">不得意</option>
                    </select>
                </td>
                {% endfor %}
        </table>
        <td><input type="submit" value="送信"></td>
    </form>
    </div>
</body>
</html>