<!DOCTYPE html>
<html lang="ja">
<link rel="stylesheet" href="../static/css/style.css">


<head>
    <script>
        window.onload = function () {
            var storyArea = document.querySelector('.story-area');
            var storyButton = document.getElementsByClassName('story-button');
            var taskArea = document.querySelector('.task-area');
            var taskButton = document.getElementsByClassName('task-button');
            var personaImage = document.querySelector('.persona-img');
            var personaInfo = document.querySelector('.persona-area');
            var addstoryForm = document.querySelector('.context-add-story-menu');
            var addpersonaForm = document.querySelector('.context-add-persona-menu');
            var addtaskForm = document.querySelector('.context-add-task-menu');
            var adduserForm = document.querySelector('.context-add-user-form');
            var contextmenu = document.querySelector('.contextmenu');
            var personacontextMenu = document.querySelector('.personaContextmenu');
            var storyContextmenu = document.querySelector('.storyContextmenu');
            var overlay = document.getElementById('overlay');
            var contextMenu = document.querySelector('.contextmenu');
            var storyDelete = document.querySelector('.storydelete-caution')
            var taskDelete = document.querySelector('.taskdelete-caution')

            var isFormVisible = false; // フォームが表示されているかどうかを示すフラグ
            var isPersonaVisible = false;

            document.querySelector('select[name="ppp"]').addEventListener('change', function () {
                window.location.href = "/action/change_sprint?ppp=" + this.value;
                console.log('選択肢が変更されました。');
            });

            storyArea.addEventListener('click', function (e) {
                if (!isFormVisible) { // フォームが表示されていないときだけ処理を実行
                    addstoryForm.style.display = 'block';
                    overlay.style.display = 'block';
                    isFormVisible = true; // フォームが表示されていることを示す
                    e.stopPropagation();
                }
            });


            // ストーリーボタンクリックの動作
            for (var i = 0; i < storyButton.length; i++) {
                storyButton[i].addEventListener('click', function (e) {
                    e.preventDefault();
                    var storyName = this.querySelector('input[type="hidden"]').value;
                    window.storyName = storyName;
                    console.log(storyName);
                    // フォームが表示されていないときだけ処理を実行
                    if (!isFormVisible) { // フォームが表示されていないときだけ処理を実行
                        // input要素を取得します。ここではname属性が"storyName"の要素を取得します。
                        var hiddenElement = document.querySelector('input[name="story_Name"]');

                        // input要素のvalue属性にstoryNameを設定します。
                        hiddenElement.value = storyName;

                        // target-storyにstoryNameを表示
                        var targetStoryElement = document.querySelector('.target-story');
                        targetStoryElement.textContent = '対象ストーリー：' + storyName;

                        addtaskForm.style.display = 'block';
                        overlay.style.display = 'block';
                        isFormVisible = true; // フォームが表示されていることを示す
                    }
                });
            }

            for (var i = 0; i < taskButton.length; i++) {
                taskButton[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault();
                    var taskName = this.querySelector('input[type="hidden"]').value;
                    window.taskName = taskName;
                    console.log(taskName);

                    contextmenu.style.top = e.clientY + 'px';
                    contextmenu.style.left = e.clientX + 'px';
                    contextmenu.style.display = 'block';

                    // マウスオーバーしている要素内のinput hidden要素の内容を取得
                    var taskArea = e.target.closest('.task-button');
                    var taskName = taskArea.querySelector('input[type="hidden"]').value;

                    // 他の要素から使用できるようにする
                    window.taskName = taskName;

                });
            }
            // タスク削除の<p>タグをクリックしたらstorydelete-cotion要素を表示
            contextmenu.children[1].addEventListener('click', function (e) {

                // input要素を取得します。ここではname属性が"taskName"の要素を取得します。
                var hiddenElement = document.querySelector('input[name="task-name"]');

                // input要素のvalue属性にtaskNameを設定します。
                hiddenElement.value = taskName;

                taskDelete.style.display = 'block';
                overlay.style.display = 'block';
                isFormVisible = true; // フォームが表示されていることを示す
                contextmenu.style.display = 'none';
            });

            personaImage.addEventListener('click', function (e) {
                if (isPersonaVisible) {
                    personaInfo.style.display = 'none';
                    isPersonaVisible = false;
                } else {
                    personaInfo.style.display = 'block';
                    isPersonaVisible = true;
                }
                // if (!isFormVisible) { // フォームが表示されていないときだけ処理を実行
                //     addpersonaForm.style.display = 'block';
                //     overlay.style.display = 'block';
                //     isFormVisible = true; // フォームが表示されていることを示す
                //     e.stopPropagation();
                // }
            });

            personaImage.addEventListener('contextmenu', function (e) {
                e.preventDefault(); // デフォルトの右クリックメニューを無効化
                personacontextMenu.style.display = 'block'; // contextmenu要素を表示
                personacontextMenu.style.left = e.pageX + 'px'; // contextmenu要素の位置をマウスの位置に設定
                personacontextMenu.style.top = e.pageY + 'px'; // contextmenu要素の位置をマウスの位置に設定
            });

            personacontextMenu.children[0].addEventListener('click', function (e) {
                if (!isFormVisible) { // フォームが表示されていないときだけ処理を実行
                    addpersonaForm.style.display = 'block';
                    overlay.style.display = 'block';
                    isFormVisible = true; // フォームが表示されていることを示す
                    personacontextMenu.style.display = 'none';
                    e.stopPropagation();
                }
            });

            //右クリックストーリー削除
            for (var i = 0; i < storyButton.length; i++) {
                storyButton[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault(); // デフォルトの右クリックメニューを無効化

                    // メニューをマウスポインタの座標に表示
                    storyContextmenu.style.top = e.clientY + 'px';
                    storyContextmenu.style.left = e.clientX + 'px';
                    storyContextmenu.style.display = 'block';

                    // マウスオーバーしている要素内のinput hidden要素の内容を取得
                    var storyArea = e.target.closest('.story-button');
                    var storyName = storyArea.querySelector('input[type="hidden"]').value;

                    // 他の要素から使用できるようにする
                    window.storyName = storyName;

                    console.log(storyName);

                });
            }

            // ストーリー削除の<p>タグをクリックしたらstorydelete-cotion要素を表示
            storyContextmenu.children[0].addEventListener('click', function (e) {

                // input要素を取得します。ここではname属性が"storyName"の要素を取得します。
                var hiddenElement = document.querySelector('input[name="story-name"]');

                // input要素のvalue属性にstoryNameを設定します。
                hiddenElement.value = storyName;

                storyDelete.style.display = 'block';
                overlay.style.display = 'block';
                isFormVisible = true; // フォームが表示されていることを示す
                storyContextmenu.style.display = 'none';
            });

            // contextmenu以外の場所をクリックしたときにメニューを非表示にする
            window.addEventListener('click', function (e) {
                if (e.button !== 2) { // Not right click
                    contextmenu.style.display = 'none';
                    personacontextMenu.style.display = 'none';
                    storyContextmenu.style.display = 'none';
                }
            });




            //背景を触った時の処理
            window.addEventListener('click', function (e) {
                if (e.target == overlay) {
                    addstoryForm.style.display = 'none';
                    addtaskForm.style.display = 'none';
                    addpersonaForm.style.display = 'none';
                    storyDelete.style.display = 'none';
                    taskDelete.style.display = 'none';
                    isFormVisible = false; // フォームが非表示になったことを示す
                    overlay.style.display = 'none';
                }
            });


        }
    </script>
</head>

<body>
    {% include 'header.html' %}
    <div class="contents">
        {% include 'sidebar.html' %}
        <div class="story">
            <div class="persona">
                <img class="persona-img" src="../../static/images/human.svg" width="80px" height="80px">
                <div class="persona-area">
                    {% if persona %}
                    <div class="persona-info">
                        <p class="name">名前：{{persona[1]}}</p>
                        <p class="age">年齢：{{persona[2]}}</p>
                        <p class="gender">性別：{{persona[3]}}</p>
                        <p class="job">職業：{{persona[4]}}</p>
                        <p class="hobby">趣味：{{persona[5]}}</p>
                        <p class="income">年収：{{persona[6]}}</p>
                        <p class="family">家族構成：{{persona[7]}}</p>
                        <p class="note">その他：<br>{{persona[8]}}</p>
                    </div>
                    {% else %}
                    <p>ペルソナを定義しましょう。</p>
                    {% endif %}
                </div>
            </div>
            <div class="story-body">
                <h2>ユーザーストーリー</h2>
                <div class="story-area">
                    {% if session['backlog'] %}
                    {% for row in session['backlog'] %}
                    <div class="story-button">
                        <p>{{ row[0] }}</p>
                        <input type="hidden" name="storyName" value="{{ row[0] }}">
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>ストーリーがありません</p>
                    {% endif %}
                </div>
                <div class="task-area">
                    <h2>タスク</h2>
                    <div class="task-area">
                        {% if taskName %}
                        {% for row in taskName %}
                        <div class="task-button">
                            <p>{{ row[0] }}</p>
                            <input type="hidden" name="storyName" value="{{ row[0] }}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <p>タスクがありません</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div class="contextmenu">
        <p class="properties" onclick="redirectToPage(projectNumber)">
            <img src="../static/images/setting.svg" alt="setting" width="14" height="14">
            タスクにメッセージを追加
        </p>
        <p class="delete">
            <img src="../static/images/trashbox.svg" alt="delete" width="14" height="14">
            タスクを削除
        </p>
    </div>


    <div class="context-add-story-menu">
        <h2>新しくストーリーを追加</h2>
        <form action="/create_stories" method="post">
            <input type="text" class="textbox-001" name="stories" required><br>
            <input type="hidden" name="project" value="$_GET['project']"><br>
            <label for="priority">優先度</label>
            <select name="priority" id="priority">
                <option value="0">高</option>
                <option value="1">中</option>
                <option value="2">低</option>
            </select>
            <input type="submit" class="submit-button" value="追加">
        </form>
    </div>

    <div class="context-add-task-menu">
        <h1>タスクを設定</h1>
        <form action="/action/add_task" method="post">
            <h3 class="target-story">
            </h3>
            <label for="task">タスク名:</label>
            <input type="text" name="taskName" required><br>
            <input type="hidden" name="story_Name">
            <div class="submit"><input type="submit" value="登録"></div>
        </form>
    </div>

    <div class="context-add-persona-menu">
        <h1>ペルソナを定義</h1>
        <form action="/action/register_persona" method="post">
            <label for="name">名前</label>
            <input type="text" name="name" placeholder="神戸太郎" required><br>
            <label for="age">年齢</label>
            <input type="text" name="age" placeholder="21" required><br>
            <label for="gender">性別</label>
            <input type="checkbox" name="gender" value="men">男性
            <input type="checkbox" name="gender" value="women">女性<br>
            <label for="job">職業</label>
            <input type="text" name="job" placeholder="学生" required><br>
            <label for="hobby">趣味</label>
            <input type="text" name="hobby" placeholder="キャンプ" required><br>
            <label for="income">年収（万円）</label>
            <input type="text" name="income" placeholder="20" required><br>
            <label for="family">家族構成</label>
            <input type="text" name="family" placeholder="父、母" required><br>
            <label for="note">その他</label>
            <textarea name="note" placeholder="備考など記述"></textarea><br>
            <input type="submit" value="登録">
        </form>
    </div>

    <div class="context-register-user-form">
        <form action="/action/project/addusers" method="post">
            <div class="addusers">
                <p>ユーザーの招待</p>
                {% if error_message %}
                <p class="error">{{ error_message }}</p>
                {% endif %}
                <input type="text" name="email" placeholder="E-mailアドレスを入力" required>
                <input type="submit" value="招待">
            </div>
        </form>
    </div>

    <div class="personaContextmenu">
        <p class="edit">
            ペルソナを変更
        </p>
    </div>

    <!-- ストーリーボタン右クリックした時に表示するメニュー -->
    <div class="storyContextmenu">
        <p class="delete">
            <img src="../static/images/trashbox.svg" alt="delete" width="14" height="14">
            ストーリーを削除
        </p>
    </div>

    <!-- ストーリー削除確認 -->
    <div class="storydelete-caution">
        <form action="/action/delete_story" method="post">
            <p class="caution1">Caution!!</p>
            <p class="caution2">ストーリーが削除されます!!!</p>
            <p>本当にストーリーを削除しますか?</p>
            <input type="hidden" name="story-name">
            <input type="submit" name="ok" value="OK">
            <input type="submit" name="ng" value="キャンセル">
        </form>
    </div>

    <!-- ストーリー削除確認 -->
    <div class="taskdelete-caution">
        <form action="/action/delete_task" method="post">
            <p class="caution1">Caution!!</p>
            <p class="caution2">タスクが削除されます!!!</p>
            <p>本当にタスクを削除しますか?</p>
            <input type="hidden" name="task-name">
            <input type="submit" name="ok" value="OK">
            <input type="submit" name="ng" value="キャンセル">
        </form>
    </div>
</body>