form {
    width: 80%;
    /* border外の余白 */
    margin: 0 auto;
    /* 境界線 */
    border: 1px solid #9c9c9c;
    /* border内の余白 */
    padding: 50px;
    box-sizing: border-box;
}

form input[type="text"] {
    padding: 10px;
    width: 65%;
    margin: 10px;
}

form input[type="submit"] {
    background: #5250e0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
}

div {
    text-align: center;
}