* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: px;
}

/* timelineのスタイル */
/* timeline軸（見出し行）の背景色 */
.vis-time-axis.vis-foreground {
    background: #a0ccf5;
}

/* timeline軸（見出し行）のテキストの色 */
.vis-time-axis .vis-text.vis-minor {
    color: #fff;
}

/* 指定の日付の位置に垂直に引く線のスタイル */
.vis-custom-time.v-bar {
    width: 1px;
    background-color: green;
}