/* 新規登録画面のスタイル */
.register-form {
    width: 100%;
    /* 要素を親要素の100%幅に設定 */
    max-width: 400px;
    /* 最大幅を400pxに制限 */
    margin: auto;
    /* 自動マージンで中央配置 */
    padding: 30px;
    /* 内部余白 */
    background: linear-gradient(135deg, #ffffff, #ffffff);
    /* グラデーション背景 */
    border-radius: 8px;
    /* 角丸 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* 軽い影 */
    text-align: center;
    /* 中央配置 */
    box-sizing: border-box;
    /* 要素の幅にpaddingやborderを含める */
}

/* 見出しのスタイル */
.register-form h1 {
    color: #101010;
    font-weight: 500;
}

.register-form p {
    color: #ffffff;
}

/* ラベルのスタイル */
.register-form label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    color: #111111;
    display: block;
    text-align: left;
}

/* テキスト入力欄のスタイル */
.register-form input[type="text"],
.register-form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #3cb371;
    /* 緑のボーダー */
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
    color: #fffbfb;
    /*opacity: 0.6;*/
}

.register-form input[type="text"]:focus,
.register-form input[type="password"]:focus {
    border-color: #90ee90;
    /* フォーカス時の明るい緑 */
    color: #fffcfc;
}

/* 送信ボタンのスタイル */
.register-form input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #3cb371;
    /* 緑のボーダー */
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: #ffffff;
    border-radius: 25px;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    background-color: #3cb371;
    /* 緑の背景 */
}

.register-form input[type="submit"]:hover {
    background-color: #54e37a;
    border: 2px solid #54e37a;
}

/* リンクのスタイル */
.register-form a {
    display: block;
    margin-top: 25px;
    color: #ffffff;
    /* 青いリンク */
    text-decoration: none;
    font-size: 18px;
}

.register-form a:hover {
    text-decoration: underline;
    color: #5efaff;
    /* ホバー時の濃い青 */
}