html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    padding: 0;
}

#overlay {
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黒色の半透明 */
    z-index: 998;
    /* 他の要素より前面に表示 */
}

.sidebar {
    margin-right: 10px;
    height: 100%;
    width: 280px;
    background-color: #cdcdcd;
    flex-shrink: 0;
}

.side-head {
    text-align: center;
    margin-top: 20px;
}

.side-head-source {
    display: flex;
    text-align: center;
}

.project-title {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 2px;
    display: block;
}

.project-title a {
    display: flex;
}

.side-userinfo-body {
    margin-top: 20px;
}

.sidebar .username {
    font-size: 30px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #8cb9e5;
    z-index: 1000;
}

.icon {
    border-radius: 50%;
    background-color: cornflowerblue;
}

.header-main {
    display: flex;
}

.product-backlog {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-backlog .caption {
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
    font-size: 16px;
}

.product-backlog .caption-content {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.task {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.task .caption {
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
    font-size: 16px;
}

.task .caption-content {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.task .caption {
    border-bottom: solid 1px #000000;

}

.header-title {
    display: flex;
    height: 45px;
    margin-left: 20px;
    margin-top: 5px;
}

.header-title-inproject {
    font-size: 26px;
}

.header-title-outproject {
    font-size: 30px;
}

.contents {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

.login-user {
    float: right;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 0px;
}

.login-user img {
    margin-top: 15px;
}

.header-tab {
    display: flex;
    margin-top: 0px;
    font-size: 16px;
}

.header-tab p {
    margin-left: 20px;
    margin-top: 0px;
}

.header-tab .header-tab-user {
    float: right;
}

.page-content {
    display: flex;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.project-list-area {
    width: 100%;
}

.new-project {
    /* マウスオーバー時の背景色変化を指定 */
    transition: background-color 0.3s ease;
    /* 背景色を指定 */
    background-color: #f6ffa4;
    /* 四角形の大きさを指定 */
    width: 340px;
    height: 155px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.new-project:hover {
    background-color: #c9d36f;
}

.project-info {
    /* マウスオーバー時の背景色変化を指定 */
    transition: background-color 0.3s ease;
    /* 背景色を指定 */
    background-color: #C4E7F6;
    /* 四角形の大きさを指定 */
    width: 340px;
    height: 155px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: inline-block;
    /* 横並びに配置する */
    white-space: normal;
    /* 画面サイズに応じて自動で折り返す */
    vertical-align: top;
}

/* マウスオーバー時の背景色を指定 */
.project-info:hover {
    background-color: #dcf2ff;
}

.project-click-area {
    width: 340px;
    height: 120px;
    cursor: pointer;
    display: inline-block;
    /* 横並びに配置する */
    white-space: normal;
    /* 画面サイズに応じて自動で折り返す */

}

.project-click-area p {
    color: #000000;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;
}

.project-logo {
    width: 70;
    height: 70;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: right;
}

.project-info:hover .project-logo {
    animation: bounce 0.3s;
}

.project-resource {
    margin-left: 12px;
    width: 300px;
    height: 32px;
    display: flex;
}

.project-resource img {
    margin-right: 5px;
}

.contents .error {
    color: red;
}

.sidebar .title {
    font-size: 22px;
}

.side-userinfo-body .caption {
    font-size: 18px;
}

.sidebar .product-backlog {
    font-size: 16px;
}

.side-userinfo-body .caption-content {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.story {
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.persona {
    text-align: center;
    margin-right: 10px;
}

.persona-img {
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 139, 97);
    margin-top: 10px;
    cursor: pointer;
}

.persona-img:hover {
    animation: bounce 0.3s;
}

.persona-area {
    transition: all 0.3s ease;
    display: none;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fffca4;
    width: 220px;
    height: 80%;
    border-radius: 10px;
    cursor: default;
    text-align: center;
}

/* .persona-area :hover {
    background-color: #ffffff;
} */

.persona-area h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.persona-area p {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
}

.story-body {
    width: 100%;
    height: 100%;
}

.story-area {
    transition: all 0.3s ease;
    width: 100%;
    height: 300px;
    background-color: rgb(165, 203, 221);
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

.story-area:hover {
    background-color: rgb(191, 211, 220);
}

.story-area h2 {
    text-align: center;
    margin-top: 10px;
}

.story-button {
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    width: 210px;
    height: 180px;
    background-color: hsl(82, 89%, 79%);
    border-radius: 15px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

.story-button:hover {
    background-color: hsl(82, 89%, 69%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.story-button p {
    font-size: 18px;
}

.story-info {
    width: 300px;
    height: 150px;
    white-space: normal;
    position: relative;
    overflow: hidden;
}

.story-info p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.task-area {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 215, 114);
    cursor: default;
    border-radius: 10px;
}

.task-area h2 {
    text-align: center;
    margin-top: 10px;
}

.task-button {
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    width: 210px;
    height: 100px;
    background-color: hsl(255, 86%, 93%);
    border-radius: 15px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
}

.task-button:hover {
    background-color: hsl(255, 86%, 93%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.task-button p {
    font-size: 18px;
}

.textbox-001 {
    width: 75%;
    padding: 10px;
    border: 1px solid #969da3;
    border-radius: 25px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-001::placeholder {
    color: #999;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    overflow: hidden;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Add a bit of spacing between form elements */
form {
    margin-top: 20px;
}

/* Improve select styling */
label {
    display: block;
    margin-top: 10px;
}

select {
    padding: 10px;
    border: 1px solid #969da3;
    border-radius: 25px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive styles */
@media (max-width: 600px) {
    .content {
        margin: 10px;
        /* Adjust margin for smaller screens */
    }

    .textbox-001,
    select {
        width: 100%;
    }
}

.contextmenu {
    display: none;
    position: absolute;
    /* 要素を絶対位置に配置 */
    background-color: #ffffff;
    /* 白い背景色 */
    border: 1px solid #ccc;
    /* 薄い灰色の境界線 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 軽い影 */
    padding: 10px;
    /* 内部余白 */
    z-index: 1000;
    /* 他の要素よりも手前に表示 */
}

.contextmenu p {
    display: flex;
    /* フレックスボックスレイアウト */
    align-items: center;
    /* アイテムを中央揃え */
    padding: 8px;
    /* 内部余白 */
    margin: 0;
    /* マージンなし */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

.contextmenu img {
    margin-right: 8px;
    /* 画像とテキストの間隔 */
}

.contextmenu p:hover {
    background-color: #f5f5f5;
    /* ホバー時の背景色 */
}

.contextmenu .rename a {
    text-decoration: none;
    /* リンクの下線をなくす */
    color: #333333;
    /* テキストの色 */
}

.contextmenu .delete {
    color: #ff0000;
    /* 赤いテキスト色 */
}

.contextmenu .delete:hover {
    background-color: #ffebeb;
    /* 削除項目のホバー時の背景色 */
}

.storyContextmenu {
    display: none;
    position: absolute;
    /* 要素を絶対位置に配置 */
    background-color: #ffffff;
    /* 白い背景色 */
    border: 1px solid #ccc;
    /* 薄い灰色の境界線 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 軽い影 */
    padding: 10px;
    /* 内部余白 */
    z-index: 1000;
    /* 他の要素よりも手前に表示 */
}

.storyContextmenu p {
    display: flex;
    /* フレックスボックスレイアウト */
    align-items: center;
    /* アイテムを中央揃え */
    padding: 8px;
    /* 内部余白 */
    margin: 0;
    /* マージンなし */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

.storyContextmenu p:hover {
    background-color: #f5f5f5;
}

.storyContextmenu .delete {
    color: #ff0000;
    /* 赤いテキスト色 */
}

.storyContextmenu .delete:hover {
    background-color: #ffebeb;
    /* 削除項目のホバー時の背景色 */
}

.taskcontextmenu {
    display: none;
    position: absolute;
    /* 要素を絶対位置に配置 */
    background-color: #ffffff;
    /* 白い背景色 */
    border: 1px solid #ccc;
    /* 薄い灰色の境界線 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 軽い影 */
    padding: 10px;
    /* 内部余白 */
    z-index: 1000;
    /* 他の要素よりも手前に表示 */
}

.taskcontextmenu p {
    display: flex;
    /* フレックスボックスレイアウト */
    align-items: center;
    /* アイテムを中央揃え */
    padding: 8px;
    /* 内部余白 */
    margin: 0;
    /* マージンなし */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

.taskcontextmenu img {
    margin-right: 8px;
    /* 画像とテキストの間隔 */
}

.taskcontextmenu p:hover {
    background-color: #f5f5f5;
    /* ホバー時の背景色 */
}

.taskcontextmenu .delete {
    color: #ff0000;
    /* 赤いテキスト色 */
}

.taskcontextmenu .delete:hover {
    background-color: #ffebeb;
    /* 削除項目のホバー時の背景色 */
}

.personaContextmenu {
    display: none;
    position: absolute;
    /* 要素を絶対位置に配置 */
    background-color: #ffffff;
    /* 白い背景色 */
    border: 1px solid #ccc;
    /* 薄い灰色の境界線 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 軽い影 */
    padding: 10px;
    /* 内部余白 */
    z-index: 1000;
    /* 他の要素よりも手前に表示 */
}

.personaContextmenu p {
    display: flex;
    /* フレックスボックスレイアウト */
    align-items: center;
    /* アイテムを中央揃え */
    padding: 8px;
    /* 内部余白 */
    margin: 0;
    /* マージンなし */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}

.personaContextmenu p:hover {
    background-color: #f5f5f5;
}

/* プロジェクト名変更フォームのスタイル */
.projectrename-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
}

/* タイトルのスタイル */
.projectrename-form .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* テキスト入力欄のスタイル */
.projectrename-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* ボタンのスタイル */
.projectrename-form .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.projectrename-form .button:hover {
    background-color: #0056b3;
}


/* 警告文全体のスタイル */
.projectdelete-caution {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
}

/* タスク削除の警告文スタイル */
.taskdelete-caution {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
}

/* ストーリー削除の警告文スタイル */
.storydelete-caution {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
}

/* Caution!!のスタイル */
.caution1 {
    color: red;
    font-size: 24px;
    font-weight: bold;
}

/* 警告メッセージのスタイル */
.projectdelete-caution p {
    font-size: 18px;
    margin-bottom: 15px;
}

/* 共通のボタンスタイル */
.projectdelete-caution input[type="submit"],
.taskdelete-caution input[type="submit"],
.storydelete-caution input[type="submit"] {
    display: block;
    /* ボタンをブロック要素に変更 */
    margin: 0 auto;
    /* 左右中央に寄せる */
    width: 150px;
    /* 共通のボタン幅 */
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    /* ボタン間の余白 */
}

.projectdelete-caution input[type="submit"]:hover,
.taskdelete-caution input[type="submit"]:hover,
.storydelete-caution input[type="submit"]:hover {
    background-color: #c82333;
}

.projectdelete-caution input[type="submit"][name="ng"],
.taskdelete-caution input[type="submit"][name="ng"],
.storydelete-caution input[type="submit"][name="ng"] {
    background-color: #6c757d;
}

.projectdelete-caution input[type="submit"][name="ng"]:hover,
.taskdelete-caution input[type="submit"][name="ng"]:hover,
.storydelete-caution input[type="submit"][name="ng"]:hover {
    background-color: #5a6268;
}

.context-add-message-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
}



.context-add-story-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background-color: #f8f9fa;
    /* ソフトなグレー */
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* より柔らかい影 */
    text-align: center;
    padding: 20px;
    /* パディングを増やして余白を追加 */
    z-index: 999;
}

.context-add-story-menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.context-add-story-menu form {
    text-align: left;
}

.context-add-story-menu label {
    display: block;
    margin-top: 15px;
    /* より多くのマージン */
}

.context-add-story-menu input {
    width: calc(100% - 20px);
    padding: 12px;
    /* パディングを増やしてフォーム項目を大きくする */
    margin-top: 8px;
    /* より小さなマージン */
    border: 1px solid #ced4da;
    /* より明るいボーダー */
    border-radius: 8px;
    /* より丸い角 */
    font-size: 14px;
    /* より大きなフォント */
}

.context-add-story-menu select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 14px;
}

.context-add-story-menu input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    /* ブルーのボタン */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* より大きなフォント */
}

.context-add-story-menu input[type="submit"]:hover {
    background-color: #0056b3;
    /* ホバー時の色変更 */
}


.context-add-task-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background-color: #f8f9fa;
    /* ソフトなグレー */
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* より柔らかい影 */
    text-align: center;
    padding: 20px;
    /* パディングを増やして余白を追加 */
    z-index: 999;
}

.context-add-task-menu h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.context-add-task-menu form {
    text-align: left;
}

.context-add-task-menu label {
    display: block;
    margin-top: 15px;
    /* より多くのマージン */
}

.context-add-task-menu input,
.context-add-task-menu textarea {
    width: calc(100% - 20px);
    padding: 12px;
    /* パディングを増やしてフォーム項目を大きくする */
    margin-top: 8px;
    /* より小さなマージン */
    border: 1px solid #ced4da;
    /* より明るいボーダー */
    border-radius: 8px;
    /* より丸い角 */
    font-size: 14px;
    /* より大きなフォント */
}

.context-add-task-menu input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007bff;
    /* ブルーのボタン */
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    /* より大きなフォント */
}

.context-add-task-menu input[type="submit"]:hover {
    background-color: #0056b3;
    /* ホバー時の色変更 */
}


.context-add-persona-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
    z-index: 999;
}

.context-add-persona-menu h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.context-add-persona-menu form {
    text-align: center;
    /* 中央寄せに変更 */
}

.context-add-persona-menu label {
    display: block;
    margin-top: 10px;
}

.context-add-persona-menu .gender-options {
    margin-top: 10px;
}

.context-add-persona-menu .gender-options label {
    display: inline-block;
    margin-right: 10px;
}

.context-add-persona-menu .gender-options input[type="radio"] {
    display: none;
}

.context-add-persona-menu .gender-options .custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #4caf50;
    border-radius: 50%;
    cursor: pointer;
}

.context-add-persona-menu .gender-options .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    opacity: 0;
}

.context-add-persona-menu .gender-options input[type="radio"]:checked+.custom-radio::after {
    opacity: 1;
}

.context-add-persona-menu input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.context-add-persona-menu input[type="submit"]:hover {
    background-color: #45a049;
}

.context-add-persona-menu textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}




.register-user-form {
    width: 380px;
    height: 200px;
    background-color: #ffffff;
    /* 白い背景色 */
    border-radius: 15px;
    /* 丸みを帯びた角丸 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* 軽い影の効果 */
    text-align: center;
    /* 中央寄せ */
    padding: 20px;
}

/* コンテキスト内のユーザー登録フォームスタイル */

.context-register-user-form {
    display: none;
    /* 初めは非表示 */
    position: fixed;
    /* 画面固定位置に配置 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 中央寄せ */
    width: 380px;
    height: 200px;
    background-color: #ffffff;
    /* 白い背景色 */
    border-radius: 15px;
    /* 丸みを帯びた角丸 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* 軽い影の効果 */
    text-align: center;
    /* 中央寄せ */
    padding: 20px;
    /* 内側の余白を増やして視認性向上 */
    z-index: 999;
    /* 重なり順を設定 */
}

/* フォーム内のテキストのスタイル */
.context-register-user-form p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
    /* テキストカラーを指定 */
}

/* フォーム内の入力欄のスタイル */
.context-register-user-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* フォーム内の送信ボタンのスタイル */
.context-register-user-form input[type="submit"] {
    background-color: #3498db;
    /* オシャレな青色 */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    /* ホバー時のトランジション */
}

/* フォーム内の送信ボタンのホバースタイル */
.context-register-user-form input[type="submit"]:hover {
    background-color: #2980b9;
    /* ホバー時の色の変更 */
}


/* 弾むアニメーションを定義 */
@keyframes bounce {

    0%,
    100% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.05);
    }
}


.test1 {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 150px;
}

.test2 {
    background-color: rgb(0, 255, 0);
    width: 150px;
    height: 150px;
}

.test3 {
    background-color: rgb(0, 0, 255);
    width: 150px;
    height: 150px;
}

.test4 {
    display: flex;
}