html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    padding: 0;
}

#overlay {
    transition: all 0.5s ease;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 黒色の半透明 */
    z-index: 998;
    /* 他の要素より前面に表示 */
}

.sidebar {
    margin-right: 10px;
    height: 100%;
    width: 280px;
    background-color: #cdcdcd;
    flex-shrink: 0;
}

.side-head {
    text-align: center;
    margin-top: 20px;
}

.side-head-source {
    display: flex;
    text-align: center;
}

.project-title {
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 2px;
    display: block;
}

.project-title a {
    display: flex;
}

.side-userinfo-body {
    margin-top: 20px;
}

.sidebar .username {
    font-size: 30px;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #8cb9e5;
    z-index: 1000;
}

.icon {
    border-radius: 50%;
    background-color: cornflowerblue;
}

.header-main {
    display: flex;
}

.product-backlog {
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-backlog .caption {
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
    font-size: 16px;
}

.product-backlog .caption-content {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.task {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.task .caption {
    border-bottom: solid 1px #000000;
    margin-bottom: 3px;
    font-size: 16px;
}

.task .caption-content {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.task .caption {
    border-bottom: solid 1px #000000;

}

.header-title {
    display: flex;
    height: 45px;
    margin-left: 20px;
    margin-top: 5px;
}

.header-title-inproject {
    font-size: 26px;
}

.header-title-outproject {
    font-size: 30px;
}

.contents {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

.login-user {
    float: right;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 0px;
}

.login-user img {
    margin-top: 15px;
}

.header-tab {
    display: flex;
    margin-top: 0px;
    font-size: 16px;
}

.header-tab p {
    margin-left: 20px;
    margin-top: 0px;
}

.header-tab .header-tab-user {
    float: right;
}

.page-content {
    display: flex;
}

.main-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.project-list-area {
    width: 100%;
}

.new-project {
    /* マウスオーバー時の背景色変化を指定 */
    transition: background-color 0.3s ease;
    /* 背景色を指定 */
    background-color: #f6ffa4;
    /* 四角形の大きさを指定 */
    width: 340px;
    height: 155px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.new-project:hover {
    background-color: #c9d36f;
}

.project-info {
    /* マウスオーバー時の背景色変化を指定 */
    transition: background-color 0.3s ease;
    /* 背景色を指定 */
    background-color: #C4E7F6;
    /* 四角形の大きさを指定 */
    width: 340px;
    height: 155px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: inline-block;
    /* 横並びに配置する */
    white-space: normal;
    /* 画面サイズに応じて自動で折り返す */
    vertical-align: top;
}

/* マウスオーバー時の背景色を指定 */
.project-info:hover {
    background-color: #dcf2ff;
}

.project-click-area {
    width: 340px;
    height: 120px;
    cursor: pointer;
    display: inline-block;
    /* 横並びに配置する */
    white-space: normal;
    /* 画面サイズに応じて自動で折り返す */

}

.project-click-area p {
    color: #000000;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;
}

.project-logo {
    width: 70;
    height: 70;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: right;
}

.project-info:hover .project-logo {
    animation: bounce 0.3s;
}

.project-resource {
    margin-left: 12px;
    width: 300px;
    height: 32px;
    display: flex;
}

.project-resource img {
    margin-right: 5px;
}

.contents .error {
    color: red;
}

.sidebar .title {
    font-size: 22px;
}

.side-userinfo-body .caption {
    font-size: 18px;
}

.sidebar .product-backlog {
    font-size: 16px;
}

.side-userinfo-body .caption-content {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.story {
    display: inline-flex;
    width: 100%;
    height: 100%;
}


.persona-area {
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #fffca4;
    width: 220px;
    height: 95%;
    border-radius: 10px;
    cursor: default;
    text-align: center;
}

/* .persona-area :hover {
    background-color: #ffffff;
} */


.persona-area img {
    border-radius: 50%;
    background-color: rgb(255, 139, 97);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.persona-area img:hover {
    animation: bounce 0.3s;
}

.persona-area h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.persona-area p {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
}

.story-body {
    width: 100%;
    height: 100%;
}

.story-area {
    transition: all 0.3s ease;
    width: 100%;
    height: 300px;
    background-color: rgb(165, 203, 221);
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.story-area:hover {
    background-color: rgb(191, 211, 220);
}

.story-area h2 {
    text-align: center;
    margin-top: 10px;
}

.story-button {
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    width: 210px;
    height: 180px;
    background-color: hsl(82, 89%, 79%);
    border-radius: 15px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    flex-grow: 1;
}

.story-button:hover {
    background-color: hsl(82, 89%, 69%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.story-button p {
    font-size: 18px;
}

.story-info {
    width: 300px;
    height: 150px;
    white-space: normal;
    position: relative;
    overflow: hidden;
}

.story-info p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.task-area {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 215, 114);
    cursor: default;
    border-radius: 10px;
}

.task-area h2 {
    text-align: center;
    margin-top: 10px;
}

.textbox-001 {
    width: 75%;
    padding: 10px;
    border: 1px solid #969da3;
    border-radius: 25px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.textbox-001::placeholder {
    color: #999;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    overflow: hidden;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Add a bit of spacing between form elements */
form {
    margin-top: 20px;
}

/* Improve select styling */
label {
    display: block;
    margin-top: 10px;
}

select {
    padding: 10px;
    border: 1px solid #969da3;
    border-radius: 25px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

/* Responsive styles */
@media (max-width: 600px) {
    .content {
        margin: 10px;
        /* Adjust margin for smaller screens */
    }

    .textbox-001,
    select {
        width: 100%;
    }
}

.contextmenu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contextmenu p {
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}

.contextmenu p:hover {
    background-color: #e6e6e6;
}

.projectrename-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.projectrename-form .title {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 22px;
}

.projectrename-form input {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.context-add-story-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    z-index: 999;
}

.context-add-task-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 330px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    z-index: 999;
}

.context-add-persona-menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 650px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 10px;
    z-index: 999;
}

/* 弾むアニメーションを定義 */
@keyframes bounce {

    0%,
    100% {
        transform: scale(1.0);
    }

    50% {
        transform: scale(1.05);
    }
}


.test1 {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 150px;
}

.test2 {
    background-color: rgb(0, 255, 0);
    width: 150px;
    height: 150px;
}

.test3 {
    background-color: rgb(0, 0, 255);
    width: 150px;
    height: 150px;
}

.test4 {
    display: flex;
}