/* taskboard.css */

/* General styles */
.row {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.subtitle {
    font-size: 15px;
    /* サブタイトルの文字サイズを大きくする */
    font-weight: bold;
    /* サブタイトルのテキストを太字にする */
    margin-bottom: 10px;
    /* サブタイトルの下部に余白を追加 */
}

.Story p {
    font-size: 18px;
    padding: 8px;
    /* パディングを追加 */
    border: 1px solid #000;
    /* 黒いボーダーを追加 */
    border-radius: 5px;
}

.Task p,
.Doing p,
.Done p {
    background-color: #c1fcff;
    font-size: 12px;
    /* 各列内のテキストの文字サイズを設定 */
    margin-bottom: 10px;
    /* 各列内のテキストの下部に余白を追加 */
    padding: 8px;
    /* パディングを追加 */
    border: 1px solid #000;
    /* 黒いボーダーを追加 */
    border-radius: 5px;
}

.Story,
.Task,
.Doing,
.Done {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
    /* 黒いボーダーを追加 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 0 10px;
    flex-direction: column;
    flex: 1;
    /* 内容を縦方向に並べる */
}

/* Additional styles or overrides can be added based on your needs */