<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Project 1</title>
</head>

<body>
    <h1>プロジェクト情報を入力してください</h1>


    <form action="/invite_user" method="post">
        <label for="projectTitle">プロジェクトタイトル:</label>
        <input type="text" id="projectTitle" name="projectTitle"><br><br>

        <label for="startDate">プロジェクト開始日:</label>
        <input type="date" id="startDate" name="startDate" value=""><br><br>

        <label for="endDate">プロジェクト完成予定日:</label>
        <input type="date" id="endDate" name="endDate"><br><br>

        <label for="sprint">スプリント回数:</label>
        <input type="text" id="sprint" name="sprint"><br><br>

        <form action="/search_user" method="post">
            <label for="searchUser">共同作業者:</label>
            <input type="text" id="searchUser" name="searchUser">
            <input type="submit" value="検索">
        </form>

        <input type="submit" value="プロジェクトを開始する">
    </form>


    {% for user in search_result %}
    <label>{{ user[0] }}</label>
    <input type="checkbox" name="selected_user" value="{{ user[0] }}"><br>
    {% endfor %}



    <script>
        // プロジェクト開始日に現在の日時をセットする
        document.getElementById('startDate').valueAsDate = new Date();

    </script>


</body>

</html>