<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Project 1</title>
    <link rel="stylesheet" href="../static/css/createproject1.css">
</head>

<body>
    <h1>プロジェクト情報を入力してください</h1>


    <form id="projectForm" method="POST" action="/action/create_project1">
        <label for="projectTitle">プロジェクトタイトル:</label>
        <input type="text" id="projectTitle" name="projectTitle"><br><br>

        <label for="startDate">プロジェクト開始日:</label>
        <input type="datetime-local" id="startDate" name="startDate" value=""><br><br>

        <label for="endDate">プロジェクト完成予定日:</label>
        <input type="date" id="endDate" name="endDate"><br><br>

        <!--<label for="sprint">スプリント回数:</label>
        <input type="text" id="sprint" name="sprint"><br><br>-->

        <label for="collaborator">所有者:</label>
        <input type="text" id="collaborator" name="collaborator"><br><br>

        <label for="urlInput">GitHubリポジトリ:</label>
        <input type="url" id="urlInput" name="urlInput"><br><br>

        <label for="sharedFolderInput">共有フォルダ:</label>
        <input type="text" id="sharedFolderInput" name="sharedFolderInput"><br><br>

        <input type="submit" value="プロジェクトを開始する">
    </form>


    <script>
        // 現在の日時を取得
        var currentDate = new Date();

        // 年月日時分をフォーマット
        var year = currentDate.getFullYear();
        var month = ('0' + (currentDate.getMonth() + 1)).slice(-2);
        var day = ('0' + currentDate.getDate()).slice(-2);
        var hours = ('0' + currentDate.getHours()).slice(-2);
        var minutes = ('0' + currentDate.getMinutes()).slice(-2);

        // フォーマットした日時をセット
        var formattedDate = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
        document.getElementById('startDate').value = formattedDate;
    </script>



</body>

</html>